#hplabel {
    -fx-border-radius: 100;
    -fx-background-color: linear-gradient(#ffebcd, #deb887);
    -fx-border-color: orange;
    -fx-font: bold 15pt
}

.label{
    -fx-background-color: #ffebcd;
}

.root{
    -fx-font: bold 12pt "Courier New";
}

.button{
    -fx-border-radius: 15;
    -fx-border-color: rgb(49,89,23);
    -fx-text-fill: rgb(14,54,39)
}